html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

section {
  margin: 10px 0;
}

label {
  padding: 0 10px;
}

pre {
  margin: 30px 0;
  padding: 10px;
  background-color: #eee;
}

.error {
  font-size: 14px;
  padding: 5px 10px;
  color: red;
}
